a{
    position:relative;
    top: 10px;
    left: 10px;
    font-family: system-ui;
    font-weight: 600;
    padding: 20px;
    margin: 10px;
    color:aqua
}

.navigationbar{
    background-color: rgb(65,65,65);
    width: 100%;
    height: 80px;
}

.container{
    position: relative;
    top:-110px;
}

.container2{
    position: relative;
    top:-280px;
}

.container3{
    position: relative;
    top:-450px;
}

img{
    width: 100%;
}

h1{
    position: relative;
    top: 260px;
    left: 600px;
    color: white;
    font-weight: 600;
    z-index: 2;
}

p{
    position: relative;
    top: 240px;
    left: 600px;
    color: rgb(255, 255, 255);
    z-index: 2;
    font-family: system-ui;
    font-weight: bolder;
}


